.home {
    /* height: 100%; */
    display: flex;
    
}
/* .home div {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
} */

.home div {
    display: flex;
    align-items: center;
    background-color: rgb(183, 183, 187);
    margin: 10px;
    border-radius: 10px;
    /* height: 200px; */
    
}

.barChart .lineChart {
    width: 300px;
}
 


.pieChart {

}
